.resolution {
  display: inline-flex;
  align-items: center;

  font-size: var(--text-sm);

  font-weight: var(--font-bold);

  line-height: 1.2;

  white-space: nowrap;

  &--resolved {
    color: var(--success-600);
  }

  &--unresolved {
    color: var(--grey-500);
  }
}