.edit-sprint-form {
    background-color: var(--white);
    //height: fit-content;
    border-radius: .2rem;
    //text-align: center;
    &__header {
        display: flex;
        justify-content: space-between;
    }
        

    &__title,
    &__start-date,
    &__end-date {
        max-width: 14rem;
    }

    &__title,
    &__start-date,
    &__end-date,
    &__goal {
        display: flex;
        flex-direction: column;
        
    }

    &__goal {
        margin: 1rem 0;
        width: 70%;
    }
    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
        margin-top: 1rem;
    }
}
