.backlog-container {
    border-radius: 2px;
    .backlog {
        padding: 1rem;
        &__header{
            display: flex;
            justify-content: space-between;
            background-color: red;
            padding: 1rem;
        }
        &__content {
            background-color: blue;
        }
        &__footer {
            background-color: yellow;
        }
    }
}