.dashboard {
      background-color: white;
    width: 100dvw;
    height: 100dvh;

    display: grid;
    grid-template-columns: 20% 80%;
    &__children {
        background-color: black;
    }
    &__sidebar {
      
    }
    &__navbar {
    
    }

    .navbar {

    }
}
