section .dashboard {
  display: grid;
  grid-template-columns: 1fr;
}

section .dashboard-page {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}

@media (min-width: 992px) {
  section .dashboard {
    grid-template-columns: auto 1fr;
  }

  section .dashboard-page {
    width: 90%;
  }
}