.shared-layout {
  &__dashboard {
    display: grid;
    grid-template-columns: 1fr;
    background: var(--white);
    @media (min-width: 992px) {
      grid-template-columns: auto 1fr;
    }
  }
  &__dashboard-page {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 0;
    @media (min-width: 992px) {
      width: 90%;
    }
  }
}
 