.dashboard {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 20% 80%;
    &__children {
        
    }
    &__sidebar {
       background-color: rgb(239, 239, 239);
    }
    &__navbar {
    
    }

    .nav {
        background-color:  rgb(239, 239, 239);
    }
}

