@use "../../themes/styles/abstracts/queries" as *;

.dashboard {
  display: grid;

  grid-template-columns: 0 1fr;

  width: 100vw;
  height: 100dvh;

  overflow: hidden;

  transition: grid-template-columns 0.28s ease;

  /* ============================================
     SIDEBAR OPEN
  ============================================ */

  &--sidebar-open {
    grid-template-columns: 16rem 1fr;
  }

  /* ============================================
     SIDEBAR
  ============================================ */

  &__aside {
    position: sticky;

    top: 0;

    width: 16rem;
    height: 100dvh;

    overflow: hidden;

    z-index: 10;

    transition:
      width var(--transition-normal),
      opacity var(--transition-fast),
      transform var(--transition-normal);

    will-change: width, transform;
  }

  &__content {
    min-width: 0;
    width: 100%;
  }
  /* ============================================
     SIDEBAR CLOSED
  ============================================ */

  &:not(&--sidebar-open) {
    .dashboard__aside {
      width: 0;

      opacity: 0;

      transform: translateX(-12px);

      pointer-events: none;
    }
  }


  /* ============================================
     MOBILE
  ============================================ */

  @include respond("sm") {
    grid-template-columns: 0 1fr;

    &__aside {
      width: 0;

      opacity: 0;

      transform: translateX(-12px);

      pointer-events: none;
    }

    &__bg-bar {
      display: none;
    }
  }
}