@use "../../themes/styles/abstracts/queries" as *;

.dashboard {
  display: grid;

  grid-template-columns: 0 1fr;

  width: 100vw;
  height: 100dvh;

  overflow: hidden;

  transition: grid-template-columns 0.28s ease;

  /* ============================================
     SIDEBAR OPEN
  ============================================ */
  &--sidebar-open {
    grid-template-columns: 30rem 1fr;
   
  }

  /* ============================================
     SIDEBAR
  ============================================ */
  &__bg-bar {
    width: 30rem;
    background-color: var(--grey-100);
  }
  &__aside {  
    position: sticky;
    top: 0;
    height: 100dvh;
    padding-right: 2rem;
    //padding-top: 2rem;
    overflow: hidden;
 
    z-index: 10;

    transition:
      width 0.28s ease,
      opacity 0.2s ease,
      transform 0.28s ease;

    will-change: width, transform;
  }

  &__content {
    min-width: 0;
    width: 100%;
  }

  &__outlet {
    padding: 2rem;
  }
  /* ============================================
     SIDEBAR CLOSED
  ============================================ */

  &:not(&--sidebar-open) {
    .dashboard__aside {
      width: 0;

      opacity: 0;

      transform: translateX(-12px);

      pointer-events: none;
    }
  }


  /* ============================================
     MOBILE
  ============================================ */

  @include respond("tab-port") {
    grid-template-columns: 0 1fr;

    &__aside {
      width: 0;

      opacity: 0;

      transform: translateX(-12px);

      pointer-events: none;
    }

    &__bg-bar {
      display: none;
    }
  }
}