.shared-layout {
 
  &__dashboard {
    background: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 992px) {
      grid-template-columns: auto minmax(0, 1fr);
    }
  }
  &__dashboard-page {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    overflow: hidden; 
    @media (min-width: 992px) {
      width: 90%;
    }
  }
}
 
