.bar-char {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    align-items: end;
    gap: 20px;
    padding: 0  4rem;
    min-height: 20rem;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        height: 100%;
        .item-label {
            gap: 2px;
            display: flex;
            align-items: center;
            &--task {
                span {
                    color: var(--primary-500);
                }
            }
            &--story{
                span {
                  color: var(--story-color);
                }
            }
            &--bug {
                span{
                   color: var(--bug-color);
                }
            }
            span {
                display: flex;
                justify-self: center;
            }
        }
        .bar {
            width: 4rem;
            height: max(var(--value), 0.1%);
            text-align: center;
            padding: 0 3px;
           
            position: relative;
            transition: height 0.4s ease;
            &__value {
                font-size: 10px;
                font-weight: bolder;
                margin-bottom: 4px;
                display: block;

                position: absolute;
                top: -2rem;
                left: 0;
                right: 0;
            }

            &__label {
                font-size: 10px;
                margin-top: 4px;
            
            }
        }
    }
}

#story { 
    .bar {
         background: var(--story-color);
    }
}
#bug{
    .bar {
         background: var(--bug-color)
    }
}
#task{
    .bar {
         background: var(--primary-500)
    }
}