.bar-char {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    align-items: end;
    gap: 20px;
    aspect-ratio: 1 / 1;  
    padding: 4rem;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        height: 100%;
        p {
            margin: 0;
        }
        .bar {
            width: 4rem;
            height: max(var(--value), 0.1%);
            text-align: center;
            padding: 0 3px;
            background: linear-gradient(
                to top,
                #3b82f6,
                #60a5fa
            );

            //border-radius: 6px 6px 0 0;
            transition: height 0.4s ease;
            &__value {
                font-size: 10px;
                margin-bottom: 4px;
                color: red;
                display: block;
            }

            &__label {
                font-size: 10px;
                margin-top: 4px;
            
            }
        }
    }
}

h1 {
   // margin-top: 1rem;
}

#task{
    //background-color: red;
}