@use "../../../../themes/styles/abstracts/queries" as *;

.statistics {
    display: flex;
    gap: 2rem;
    min-width: 0;
    min-height: 0;
    height: 100%;   
    &__work-status,
    &__work-types {
     margin-top: 2rem;
     flex: 1;
    }
}

 
@include respond("tab-land") {
    .statistics{
        flex-direction: column;
        overflow-y: auto;

        &__work-status,
        &__work-types {
            flex: .5;
        }
    }
}
