.tasks-header {
    border-bottom: 2px solid red;
    margin-bottom: 1rem;
    &__links {
        display: flex;
        gap: 2rem;
    }
    &__link {
        display: flex;
        align-items: center;
        color: var(--grey-500);
        padding: .5rem 0;
        text-transform: capitalize;
        transition: var(--transition);
        &--active {
            color: var(--grey-900);
            .icon {
                color: var(--primary-500);
            }
        }
    }

    .icon {
        font-size: 1rem;
        margin-right: .5rem;
        display: grid;
        place-items: center;
        transition: var(--transition);
    }
}