/* ============================================
   BIG SIDEBAR
============================================ */

.bg-aside {
  display: none;

  @media (min-width: 992px) {
    display: block;

    flex-shrink: 0;

    width: 0;

    overflow: hidden;

    transition:
      width 0.3s cubic-bezier(.16, 1, .3, 1);
  }

  /* ============================================
     OPEN STATE
  ============================================ */

  &--show-sidebar {
    width: 250px;
  }

  /* ============================================
     SIDEBAR CONTAINER
  ============================================ */

  &__sidebar-container {
    width: 250px;

    min-height: 100vh;

    //background: var(--white);

    border-right: 1px solid var(--grey-100);

    opacity: 0;

    transition:
      opacity 0.2s ease;

    box-shadow:
      1px 0 0 rgba(0, 0, 0, 0.04);
  }

  &--show-sidebar &__sidebar-container {
    opacity: 1;
  }

  /* ============================================
     CONTENT
  ============================================ */

  &__content {
    position: sticky;

    top: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
  }

  /* ============================================
     HEADER
  ============================================ */

    header { 
        height: 6rem; 
        display: flex; 
        align-items: center; 
        padding-left: 2.5rem; 
        font-size: 5rem; 
        color: var(--primary-500);
    }

  /* ============================================
     LOGO
  ============================================ */

  &__logo {
    margin: 0;

    font-size: 1.5rem;

    font-weight: 700;

    letter-spacing: -0.03em;

    background: linear-gradient(
      135deg,
      var(--primary-700),
      var(--primary-500)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* ============================================
     NAVIGATION
  ============================================ */

  &__nav {
    flex: 1;

    padding: 1rem;
  }
}

/* ============================================
   OPTIONAL LOGO IMAGE
============================================ */

.bg-aside__logo-image {
  width: 40px;
  height: 40px;

  object-fit: contain;
}