.bg-aside {
    display: none;
    @media (min-width: 992px) {
        display: block;
        box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
        &__sidebar-container {
            background: var(--white);
            min-height: 100vh;
            height: 100%;
            width: 250px;
            margin-left: -250px;
            transition: var(--transition);
            &--show-sidebar {
                margin-left: 0;
            }
        }
        &__content {
            position: sticky;
            top: 0;
            header {
                height: 6rem;
                display: flex;
                align-items: center;
                padding-left: 2.5rem;
            }
        }
    }
}

