.task-item {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-radius: 3px;
    //margin: 1rem 0;
    border: 1px solid var(--primary-100);
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--white);
    gap: 1rem;
    &__content {
        flex: 1;
        display: flex;
        justify-items: center;
        gap: .5rem;
        .task-item__checkbox{
            align-self: center;
            display: flex;
            justify-content: center;       
            font-size: 1.2rem;
            color: var(--primary-500);
        }
    }
    &__status{
        flex: .3;
    }
    &__actions {
        align-self: center;
        display: flex;
        justify-content: center;       
        font-size: .8rem;
    }
}