.options-btn {
    position: relative;
    //height: 2rem;
    //width: 2rem;
    &__modal {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--white);
        border: 1px solid var(--primary-300);
        border-radius: .2rem;
        display: none;
        &--active {
            display: block;
        }
    }

    &:hover{
        cursor: pointer;
    }
}