.circle-chart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem;
    &__circle-container {
        max-width: 16rem;
    }
    &__chart {
        aspect-ratio: 1 / 1;   // forces height = width
        border-radius: 50%;
        align-self: center; 
    }
}