.task-label {
  display: inline-block;

  max-width: 100%;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;

  font-size: var(--text-md);
  color: var(--grey-700);
  font-weight: var(--font-semibold);
  line-height: 1.2;
  letter-spacing: .4px;
}