.auth-form {
    &__btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .member-btn {
            background: transparent;
            border: none;
            color: var(--primary-500);
            cursor: pointer;
        }
    }
}