/* ============================================
   GLOBAL VARIABLES
============================================ */

:root {
  /* Typography */
  --letterSpacing: 1px;

  /* Radius */
  --borderRadius: 0.25rem;

  /* Transitions */
  --transition: 0.3s ease-in-out all;

  /* Layout sizes */
  --max-width: 1120px;
  --fixed-width: 50rem;
  --fluid-width: 90vw;
  --nav-height: 6rem;

  /* Breakpoints */
  --breakpoint-lg: 992px;

  /* Shadows */
  --shadow-1: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06);
  --shadow-2: 0 4px 6px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.06);
  --shadow-3: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05);
  --shadow-4: 0 20px 25px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.04);
}
