.task-drop-down {
    position: relative;
    display: inline-block;

    &__container{
        display: flex;
    }

    &__select {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        background-color: red;
    }
}