.edit-sprint {
    background-color: rgba($color: #000000, $alpha: 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    .edit-sprint-form {
        background-color: var(--white);
        //height: fit-content;
        padding: 1rem;
        border-radius: .2rem;
        //text-align: center;
        width: 50%;
        &__header {
            display: flex;
            justify-content: space-between;
        }
         

        &__title,
        &__start-date,
        &__end-date {
            max-width: 14rem;
        }

        &__title,
        &__start-date,
        &__end-date,
        &__goal {
            display: flex;
            flex-direction: column;
          
        }

        &__goal {
            margin: 1rem 0;
            width: 70%;
        }
        &__actions {
            display: flex;
            justify-content: flex-end;
            gap: .5rem;
            margin-top: 1rem;
        }
    }
}