.nav-links {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    &__nav-link {
        display: flex;
        color: var(--grey-500);
        padding: 1rem 0;
        padding-left: 2.5rem;
        text-transform: capitalize;
        transition: var(--transition);

        &--active {
            color: var(--grey-900);
            .icon {
                color: var(--primary-500);
            }
        }
        &:hover {
            background: var(--grey-50);
            padding-left: 3rem;
            color: var(--grey-900);
            .icon {
                color: var(--primary-500);
            }
        }
    }
    .icon {
        font-size: 1.5rem;
        margin-right: 1rem;
        display: grid;
        place-items: center;
        transition: var(--transition);
    }
}

