.task-list-item {
    &__name,
    &__description,
    &__reporter,
    &__priority,
    &__status,
    &__resolution,
    &__updated,
    &__due-date,
    &__created-at,
    &__assignee {
        border: .2px solid gray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: .5rem;
    }
    &__name{
   
    }
}