.demo-column {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.demo-column__header {
  height: 48px;

  display: flex;
  align-items: center;

  padding: 0 1rem;

  font-weight: 600;

  border-bottom: 1px solid var(--grey-100);

  background: var(--grey-50);
}

.demo-column__cell {
  height: 56px;

  display: flex;
  align-items: center;

  padding: 0 1rem;

  border-bottom: 1px solid var(--grey-100);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}