/* ============================================
   PROJECT HEADER
============================================ */

.project-header {
  display: flex;
  flex-direction: column;

  gap: var(--space-5);

  padding: 0.5rem;


  border-bottom: 1px solid var(--grey-100);

  &__title {
    display: flex;
    align-items: center;
    //justify-content: space-between;

    gap: .5rem;

    h2 {
      //font-size: 2rem;
      color: var(--grey-600);
    }
  }


  /* ============================================
     NAVIGATION
  ============================================ */

  &__links {
    display: flex;
    align-items: center;

    gap: 0.5rem;
  }

  &__link {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    padding: 1rem 1.5rem;

    border-radius: 14px;

    text-decoration: none;
    color: var(--grey-500);

    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      transform 0.2s ease;
      
    .project-header__link-icon{
      display: block;
      align-self: center;
      font-size: 2rem;
      color: var(--grey-400);
      transition:
        color 0.2s ease,
        transform 0.2s ease;
      line-height: 1;
    }
    .project-header__link-text{
      text-transform: lowercase;
      font-size: var(--text-xl);
      font-weight: var(--font-medium);
    }

    &:hover {
      background: var(--grey-50);

      color: var(--grey-900);

      transform: translateY(-1px);

      .icon {
        color: var(--primary-500);
      }
    }

    &--active {
      background: var(--primary-50);

      color: var(--primary-700);

      font-weight: var(--font-semibold);

      .icon {
        color: var(--primary-600);
      }
    }
  }

  /* ============================================
     OPTIONS BUTTON
  ============================================ */

  &__options {
    margin-left: auto;

    width: 5rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--grey-100);

    border-radius: 12px;

    background: var(--white);

    color: var(--grey-600);

    cursor: pointer;

    transition:
      background-color 0.2s ease,
      border-color 0.2s ease,
      transform 0.2s ease;

    .icon {
      font-size: 2rem;
    }

    &:hover {
      background: var(--grey-50);

      border-color: var(--grey-200);

      color: var(--grey-900);

      transform: translateY(-1px);
    }
  }
}

.project-header__actions {
  display: flex;
  align-items: center;

  gap: 0.75rem;
}