.board-task-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px;
    border-radius: 3px;
    //margin: 1rem 0;
    border: 1px solid var(--primary-100);
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--white);
    gap: 1rem;
    &__content {
        flex: 1;
        display: flex;
        justify-items: center;
        justify-content: space-between;
        gap: .5rem;
        .board-task-item__checkbox{
            align-self: center;
            display: flex;
            justify-content: center;       
            font-size: 1.2rem;
            color: var(--primary-500);
        }
    }
    &__status{
        flex: .3;
    }
    &__checkbox{
        display: flex;
        align-items: center;
        gap: .2rem;
    
        .board-task-item__checkbox-icon {
            font-size: 1.2rem;
            color: var(--primary-500);
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
    &__actions {
        align-self: center;
        display: flex;
        justify-content: center;       
        font-size: .8rem;
        .options-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            //gap: .5rem;
            &__item {
                //border-radius: 4px;
                min-width: 8rem;
                padding: .5rem;
                padding-left: 1rem;
                &:hover {
                    background-color: var(--grey-100);
                    cursor: pointer;
                }
            }
        }
    }
}