/* ============================================
   BOARD LAYOUT
============================================ */

@use "../../../../themes/styles/abstracts/queries" as *;

.board {
  display: flex;

  align-items: flex-start;

  gap: 1.5rem;

  width: 100%;

  padding: 1rem;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;

  /* Better horizontal scrolling */
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--grey-200);

    border-radius: 999rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* ============================================
     TABLET
  ============================================ */

  @include respond(sm) {
    gap: 1rem;

    padding: 1rem;
  }

  /* ============================================
     MOBILE
  ============================================ */

  @include respond(xs) {
    gap: 0.75rem;

    padding: 0.75rem;
  }
}