@use "../../../../themes/styles/abstracts/queries" as *;

/* ============================================
   BOARD LAYOUT
============================================ */

.board {
  display: flex;
  align-items: flex-start;

  gap: var(--space-5);

  width: 100%;
  height: 100vh;

  padding: var(--space-5);

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--grey-300) transparent;

  &::-webkit-scrollbar {
    height: .6rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--grey-300);
    border-radius: var(--radius-full);

    &:hover {
      background: var(--grey-400);
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* ============================================
     TABLET
  ============================================ */

  @include respond("tab-port") {
    gap: var(--space-4);
    padding: var(--space-4);
  }

  /* ============================================
     MOBILE
  ============================================ */

  @include respond("phone") {
    gap: var(--space-3);
    padding: var(--space-3);
  }
}