.app-brand {
    display:flex;

    align-items:center;

    gap: var(--space-4);

    min-height: var(--dashboard-navbar-height);

    padding: var(--space-5) var(--space-6);
    padding: 4rem;
    //border-bottom: 1px solid var(--border-default);

    &__mark {

        display: grid;

        place-items: center;

        flex-shrink: 0;

        //width: 4.4rem;

        //height: 4.4rem;
        padding: .5rem;
        border-radius: var(--radius-md);

        background:

        color-mix(
            in srgb,
            var(--action-primary) 12%,
            transparent
        );

        color: var(--action-primary);

        font-size: var(--text-8xl);

        box-shadow:  var(--shadow-sm);
    }

    &__content {
        min-width:0;
        display:flex;

        flex-direction:column;
    }

    &__label {

        color: var(--text-secondary);

        font-size: var(--text-xs);

        font-weight: var(--font-semibold);

        letter-spacing: .08em;

        text-transform: uppercase;
    }

    &__name {
        color: var(--grey-700);

        font-size: var(--text-xl);

        font-weight: var(--font-semibold);

        letter-spacing: var(--letterSpacing);
        //text-transform: uppercase;
    }
}