 .edit-btn {  
    border: none;
    padding: 2px 8px;
    transition: all .2s ease;
    display: flex;
    line-height: 1.2;
    background-color: transparent;
    color: rgb(111, 112, 112);
    &:hover {
        cursor: pointer;
        background-color: var(--grey-100);
    }
}