.member-name {
  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;

  min-width: 0;

  font-size: var(--text-sm);

  font-weight: var(--font-bold);

  line-height: 1.2;

  color: var(--grey-500);
}