.tasks-in-percent {
    height: 100%;
    display: flex;
    flex-direction: column;
    div {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}