.sprint-header {
    display: flex;
    gap: 1rem;
    z-index: 1;
    &__title {
        margin-right: auto;
        display: flex;
        justify-items: center;
        align-items: center;
        gap: .5rem;
        .sprint-name {
            font-weight: 700;
            font-size: 1.4rem;
        }
        .sprint-items {
            color: rgb(111, 112, 112);
        }
    }
    &__actions {
        .actions-btn {  
            outline: 1px solid var(--grey-200);
            border: none;
            padding: 4px 10px;
            transition: all .2s ease;
            &:hover {
              cursor: pointer;
              background-color: var(--grey-300);
            }
        }
    }
    &__options {
        .options-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            &__item {
                min-width: 8rem;
                padding: .5rem;
                padding-left: 1rem;
                &:hover {
                    background-color: var(--grey-100);
                    cursor: pointer;
                }
            }
        }
    }
}