.add-member-form-container {
    display: flex;
    &__close-icon {
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primary-500);
    }
    .add-member-form {
        &__header {
            display: flex;
            justify-content: space-between;
            div {
                font-size: 1.5rem;
                transition: all .2s ease-in;
                &:hover {
                    cursor: pointer;
                    color: var(--primary-500);
                }
            }
        }
    }
}
