/* ============================================
   NAVBAR
============================================ */
@use "../../../../themes/styles/abstracts/queries" as *;

.navbar {
  height: 7.2rem;

  //background: var(--white);
  padding: 2rem;
  border-bottom: 1px solid var(--grey-100);

  position: sticky;
  top: 0;

  z-index: 100;
}

.navbar__container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  //padding: 0 2rem;
}

/* ============================================
   TOGGLE
============================================ */

.navbar__toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;

  cursor: pointer;

  font-size: var(--text-4xl);

  color: var(--grey-500);

  transition: var(--transition);

  &:hover {
    color: var(--primary-600);
  }
}

/* ============================================
   LOGO
============================================ */

.navbar__logo {
  margin: 0;

  font-size: var(--text-4xl);

  font-weight: var(--font-bold);

  letter-spacing: -0.03em;

  background: linear-gradient(
    135deg,
    var(--primary-700),
    var(--primary-500)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* correct media query equivalent */
@include respond("tab-port"){
  .navbar {
    position: sticky;
    top: 0;
    &__nav-center {
        width: 90%;
    }
    .logo {
        display: none;
    }

    .logo-text {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      background: linear-gradient(135deg, #1e90ff, #0066ff, #00c6ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}